<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The test case emits diagnostic messages; uncomment the line below to see them -->
    <!--<add key="xunit.diagnosticMessages" value="true"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
